In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
df=pd.DataFrame(data={'A':[1,2,3,4,5],'B':[11,12,13,14,15],'C':[21,22,23,24,25]})

In [5]:
def f(x):
    return x['A']+x['C']

In [6]:
df['total']=df.apply(lambda x :f(x),axis=1)

In [7]:
df

   A   B   C  total
0  1  11  21     22
1  2  12  22     24
2  3  13  23     26
3  4  14  24     28
4  5  15  25     30

In [8]:
def g(x):
    return x.sum()

In [9]:
df.loc[5]=df.apply(lambda x :g(x))

In [10]:
df

    A   B    C  total
0   1  11   21     22
1   2  12   22     24
2   3  13   23     26
3   4  14   24     28
4   5  15   25     30
5  15  65  115    130

In [11]:
list1=list([['A','B'],['A','C'],['B','C']])

In [12]:
list1

[['A', 'B'], ['A', 'C'], ['B', 'C']]

In [13]:
def f1(x,array):
    return x[array[0]]+x[array[1]]

In [14]:
for k in list1 :
    df[k[0]+'level']=df.apply(lambda x :f1(x,k),axis=1)

In [15]:
df

    A   B    C  total  Alevel  Blevel
0   1  11   21     22      22      32
1   2  12   22     24      24      34
2   3  13   23     26      26      36
3   4  14   24     28      28      38
4   5  15   25     30      30      40
5  15  65  115    130     130     180

在这里注意的是若在类中需要加入self

In [16]:
df_group=pd.DataFrame(data={'A':[1,2,3,1,2],'B':['a','b','c','a','b'],'C':[11,12,13,14,15]})

In [17]:
df_group_copy=df_group

In [18]:
df_group

   A  B   C
0  1  a  11
1  2  b  12
2  3  c  13
3  1  a  14
4  2  b  15

In [19]:
def gr1(x):
    print x['C'].sum()
    print type(x['C'].sum())
    return x['C'].sum()

In [20]:
def gr(x):
    return pd.Series(gr1(x),index=x.index)

In [21]:
df_group

   A  B   C
0  1  a  11
1  2  b  12
2  3  c  13
3  1  a  14
4  2  b  15

In [22]:
df_group['D']=df_group.groupby('B').transform(lambda x :gr(x))

25
<type 'numpy.int64'>
27
<type 'numpy.int64'>
13
<type 'numpy.int64'>

ValueError: Wrong number of items passed 2, placement implies 1

### Series.apply(func, convert_dtype=True, args=(), **kwds) 是没有axis属性的，另外就是上面的写法transform返回的是两个DataFrame的列，所以不能用一个列来接收

In [48]:
df_group=df_group.drop('D',axis=1)

In [23]:
df_group

   A  B   C
0  1  a  11
1  2  b  12
2  3  c  13
3  1  a  14
4  2  b  15

In [25]:
def copf(x):
    return x.sum()

In [27]:
def copyf1(x):
    return pd.Series(list([copf(x)]*len(x)),index=x.index)

In [40]:
df_temp=df_group_copy.groupby('B').transform(lambda x: copyf1(x))

In [41]:
df_temp

   A   C
0  2  25
1  4  27
2  3  13
3  2  25
4  4  27