In [40]:
import pandas as pd

In [41]:
import numpy as np

In [51]:
df=pd.DataFrame(data={'A':[1,2,3,4,5],'B':[6,7,8,9,10],'C':[11,12,13,14,15]})

In [52]:
df

   A   B   C
0  1   6  11
1  2   7  12
2  3   8  13
3  4   9  14
4  5  10  15

In [53]:
index=pd.MultiIndex(levels=[['yuwen','shuxue','yingyu'],list(df.index)],
                   labels=[[0,0,1,1,2],range(len(df.index))],
                   names=['yuwen','shuxue'])

In [54]:
df.index=index

In [55]:
df

               A   B   C
yuwen  shuxue
yuwen  0       1   6  11
       1       2   7  12
shuxue 2       3   8  13
       3       4   9  14
yingyu 4       5  10  15

In [47]:
df.loc['yuwen']

        A  B   C
shuxue
0       1  6  11
1       2  7  12

In [48]:
df.loc['yuwen',0]

A     1
B     6
C    11
Name: (yuwen, 0), dtype: int64

In [50]:
df

               A   B   C
yuwen  shuxue
yuwen  0       1   6  11
       1       2   7  12
shuxue 2       3   8  13
       3       4   9  14
yingyu 4       5  10  15

In [58]:
df_col=pd.DataFrame(data={'A':[1,2,3,4,5],'B':[6,7,8,9,10],'C':[11,12,13,14,15],'D':[16,17,18,19,20]})

In [61]:
col_mul=pd.MultiIndex(levels=[['yuwen','shuxue'],list(df_col.columns)],
                     labels=[[0,0,1,1],range(len(df_col.columns))],
                    names=['yuwen','shuxue'])

In [64]:
col_mul

MultiIndex(levels=[[u'yuwen', u'shuxue'], [u'A', u'B', u'C', u'D']],
           labels=[[0, 0, 1, 1], [0, 1, 2, 3]],
           names=[u'yuwen', u'shuxue'])

In [65]:
df_col.columns=col_mul

In [70]:
df_col['yuwen']

shuxue  A   B
0       1   6
1       2   7
2       3   8
3       4   9
4       5  10

In [71]:
df.col['yuwen']['A']

AttributeError: 'DataFrame' object has no attribute 'col'

In [72]:
df_col['yuwen']['A']

0    1
1    2
2    3
3    4
4    5
Name: A, dtype: int64